@if( $row-grid-show ) {
  body {
    position: relative;
    &.row-grid-show:before {
      display: block;
    }

    &:before {
      content: '';
      display: none;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      pointer-events: none;
      z-index: 999;
      background: repeating-linear-gradient(
        180deg,
        $row-grid-color-dark,
        $row-grid-color-dark $row-grid-height,
        $row-grid-color-light $row-grid-height,
        $row-grid-color-light ($row-grid-height * 2)
      )
    }
  }
}

html, body {
	min-width: 320px;
	min-height: 600px;
}

.page-header {
  position: relative;
}

.card--super {
  margin-top: $lead-1;
  padding: 0;
  border-radius: $lead-1;
  border: 1px solid rgba(0,0,0,0.20);
  box-shadow: 0 30px 90px -20px rgba(0,0,0,0.25);
  overflow: hidden;
  position: relative;

  .starry-night {
    padding-top: $lead-2;
  }
}

main {
  margin-bottom: -60vh;
}

.bg-container {
  position: absolute;
  width: 100%;
}

.page-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 60vh;
  background-image: linear-gradient(180deg, #FFFFFF, #F2F6F7 90%);
}

.card__body {
  min-height: 40vh;
  padding-bottom: $lead-4;
}

.card__footer {
  &__contact {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: hsl(0, 0, 95);
    padding: 0 $lead-1 !important;

    a {
      transition: $transition-off;

      &:hover {
        svg path {
          fill: $planetShadow;
          transition: $transition-on;
        }
      }

    }
  }
}

footer {
  margin-top: $lead-2;
  padding-top: $lead-1;
  position: relative;
  top: 60vh;

  .spaceman {
    max-width: 100px;
  }
}
