/* BASIC LAYOUT */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

@font-face {
	font-family: 'Cormorant';
	src: url('../fonts/Cormorant-Regular.eot');
	src: local('☺'), url('../fonts/Cormorant-Regular.woff') format('woff'), url('../fonts/Cormorant-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Cormorant';
	src: url('../fonts/Cormorant-Italic.eot');
	src: local('☺'), url('../fonts/Cormorant-Italic.woff') format('woff'), url('../fonts/Cormorant-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Cormorant';
	src: url('../fonts/Cormorant-Bold.eot');
	src: local('☺'), url('../fonts/Cormorant-Bold.woff') format('woff'), url('../fonts/Cormorant-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Cormorant';
	src: url('../fonts/Cormorant-BoldItalic.eot');
	src: local('☺'), url('../fonts/Cormorant-BoldItalic.woff') format('woff'), url('../fonts/Cormorant-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

body {
  font-size: 20px;
  font-family: 'Cormorant', Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
  font-style: italic;
  font-weight: 700;
  font-size: 54px;
}
