/* BASIC LAYOUT */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

/** Cormorant Regular **/

/* Regular */
@font-face {
	font-family: 'Cormorant';
	src: url('../fonts/Cormorant-Light.eot');
	src: local('☺'), url('../fonts/Cormorant-Light.woff') format('woff'), url('../fonts/Cormorant-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Cormorant';
	src: url('../fonts/Cormorant-Regular.eot');
	src: local('☺'), url('../fonts/Cormorant-Regular.woff') format('woff'), url('../fonts/Cormorant-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Cormorant';
	src: url('../fonts/Cormorant-Medium.eot');
	src: local('☺'), url('../fonts/Cormorant-Medium.woff') format('woff'), url('../fonts/Cormorant-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Cormorant';
	src: url('../fonts/Cormorant-SemiBold.eot');
	src: local('☺'), url('../fonts/Cormorant-SemiBold.woff') format('woff'), url('../fonts/Cormorant-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Cormorant';
	src: url('../fonts/Cormorant-Bold.eot');
	src: local('☺'), url('../fonts/Cormorant-Bold.woff') format('woff'), url('../fonts/Cormorant-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

/* Italics */
@font-face {
	font-family: 'Cormorant';
	src: url('../fonts/Cormorant-LightItalic.eot');
	src: local('☺'), url('../fonts/Cormorant-LightItalic.woff') format('woff'), url('../fonts/Cormorant-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Cormorant';
	src: url('../fonts/Cormorant-Italic.eot');
	src: local('☺'), url('../fonts/Cormorant-Italic.woff') format('woff'), url('../fonts/Cormorant-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Cormorant';
	src: url('../fonts/Cormorant-MediumItalic.eot');
	src: local('☺'), url('../fonts/Cormorant-MediumItalic.woff') format('woff'), url('../fonts/Cormorant-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Cormorant';
	src: url('../fonts/Cormorant-SemiBoldItalic.eot');
	src: local('☺'), url('../fonts/Cormorant-SemiBoldItalic.woff') format('woff'), url('../fonts/Cormorant-SemiBoldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Cormorant';
	src: url('../fonts/Cormorant-BoldItalic.eot');
	src: local('☺'), url('../fonts/Cormorant-BoldItalic.woff') format('woff'), url('../fonts/Cormorant-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

/** Cormorant SC **/

@font-face {
	font-family: 'CormorantSC';
	src: url('../fonts/CormorantSC-Light.eot');
	src: local('☺'), url('../fonts/CormorantSC-Light.woff') format('woff'), url('../fonts/CormorantSC-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'CormorantSC';
	src: url('../fonts/CormorantSC-Regular.eot');
	src: local('☺'), url('../fonts/CormorantSC-Regular.woff') format('woff'), url('../fonts/CormorantSC-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'CormorantSC';
	src: url('../fonts/CormorantSC-Medium.eot');
	src: local('☺'), url('../fonts/CormorantSC-Medium.woff') format('woff'), url('../fonts/CormorantSC-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'CormorantSC';
	src: url('../fonts/CormorantSC-SemiBold.eot');
	src: local('☺'), url('../fonts/CormorantSC-SemiBold.woff') format('woff'), url('../fonts/CormorantSC-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'CormorantSC';
	src: url('../fonts/CormorantSC-Bold.eot');
	src: local('☺'), url('../fonts/CormorantSC-Bold.woff') format('woff'), url('../fonts/CormorantSC-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

/** Cormorant Unicase **/

@font-face {
	font-family: 'CormorantUnicase';
	src: url('../fonts/CormorantUnicase-Light.eot');
	src: local('☺'), url('../fonts/CormorantUnicase-Light.woff') format('woff'), url('../fonts/CormorantUnicase-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'CormorantUnicase';
	src: url('../fonts/CormorantUnicase-Regular.eot');
	src: local('☺'), url('../fonts/CormorantUnicase-Regular.woff') format('woff'), url('../fonts/CormorantUnicase-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'CormorantUnicase';
	src: url('../fonts/CormorantUnicase-Medium.eot');
	src: local('☺'), url('../fonts/CormorantUnicase-Medium.woff') format('woff'), url('../fonts/CormorantUnicase-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'CormorantUnicase';
	src: url('../fonts/CormorantUnicase-SemiBold.eot');
	src: local('☺'), url('../fonts/CormorantUnicase-SemiBold.woff') format('woff'), url('../fonts/CormorantUnicase-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'CormorantUnicase';
	src: url('../fonts/CormorantUnicase-Bold.eot');
	src: local('☺'), url('../fonts/CormorantUnicase-Bold.woff') format('woff'), url('../fonts/CormorantUnicase-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

body {
  font-size: 20px;
  font-family: 'Cormorant', Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'CormorantUnicase', Georgia, serif;
	text-transform: lowercase;
	margin: 0;
}

h1 {
  font-size: 54px;
	font-weight: 300;
}
