.speech-bubble {
  position: relative;

  .joke-text {
    padding-left: $lead-1;
    color: $base-color-dark;
    border-left: 1px solid $base-color-dark;

    &#joke {
      font-weight: bold;
    }
  }
}

#joke {
  &:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    border-right: 18px solid $base-color-dark;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
  }

  &:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 1px;
    border-right: 17px solid #F2F6F7;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
  }
}

.dad-joke-intro {
  font-style: italic;
  text-align: center;
  margin: $lead-2 0;
  color: $base-color-dark;
  padding-bottom: $base;
}
