html, body {
	min-width: 480px;
	min-height: 600px;
}

body {
  background-color: #fff;
}

.page {
  margin-top: 350px;
}

a {
  color: #333;
  text-decoration: none;

	&:hover {
		color: #ff5724;
		border-color: #ff5724;
	}
}

h1 {
  font-style: italic;
  text-align: center;
  margin: 2em 0 1em;
}

.symbol {
  font-family: 'Open Sans', sans-serif;
}
