.orrery-nav {
  position: absolute;
  left: $lead-1;
  top: $lead-1 * 1.5;
  z-index: 999;
}

.universe-controls {
  font-size: 0;

  &__control {
    font-size: $base-font-size;
    background-repeat: no-repeat;
    background-position: center;
    // width: $lead-1 * 1.5;
    height: $lead-1 * 1.5;
    border-radius: ($lead-1 * 1.5) / 2;
    margin-bottom: $base * 2;
    box-sizing: content-box;
    display: inline-block;
    box-shadow:
      0 0 0 2px rgba(255, 255, 255, 0.5),
      0 0 0 4px transparent;

    &.active {
      background: white;
      border-color: white;
      box-shadow:
        0 0 0 2px rgba(255, 255, 255, 1),
        0 0 0 4px $base-color-dark;

      svg path,
      svg polygon {
        fill: $planetShadow;
      }

      &:hover {
        background-color: white;
        border-color: white;
        box-shadow:
          0 0 0 2px white,
          0 0 0 4px $base-color-dark;
      }

      .universe-controls__control__label,
      .universe-controls__control__label--play,
      .universe-controls__control__label--pause {
        color: $base-color-dark;
      }
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
      box-shadow:
        0 0 0 2px rgba(255, 255, 255, 1),
        0 0 0 4px transparent;

      .universe-controls__control__label {
        display: inline-block;
        text-decoration: none;
      }
    }

    &__label,
    &__label--play,
    &__label--pause {
      @extend .h6;
      padding-right: $base * 2;
      display: none;
      text-decoration: none;
      font-weight: 700;
      color: white;
    }

    &:active {
      transform: scale(0.97);
      transition: transform 0.01s ease-out;
    }

    svg path,
    svg polygon {
      fill: $planetColor;
    }

    &#toggle-play.play {
      .icon-play { display: inline-block; }
      .icon-pause { display: none; }
    }

    &#toggle-play.pause {
      .icon-play { display: none; }
      .icon-pause { display: inline-block; }
    }

    &#toggle-play.play:hover {
      .universe-controls__control__label--play { display: inline-block !important; }
      .universe-controls__control__label--pause { display: none !important; }
    }

    &#toggle-play.pause:hover {
      .universe-controls__control__label--play { display: none !important; }
      .universe-controls__control__label--pause { display: inline-block !important; }
    }

    &#toggle-labels {
    }

    &#toggle-pluto {
    }

  }
}
