.orrery-nav {
  position: absolute;
  left: $lead-1;
  top: $lead-1;
  z-index: 999;
}

.universe-controls {
  font-size: 0;

  &__control {
    font-size: $base-font-size;
    background-repeat: no-repeat;
    background-position: center;
    width: $lead-1 * 1.5;
    height: $lead-1 * 1.5;
    margin-bottom: $base * 2;
    box-sizing: content-box;
    display: block;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255, 0.5);
    transform: scale(1);
    transition: transform 0.03s ease-out;

    &.active {
      background: white;

      svg path,
      svg polygon {
        fill: $planetShadow;
      }

      &:hover {
        background-color: white;
      }
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }

    &:active {
      transform: scale(0.95);
      transition: transform 0.03s ease-out;
    }

    svg path,
    svg polygon {
      fill: $planetColor;
    }

    &#toggle-play.play {
      .icon-play { display: block; }
      .icon-pause { display: none; }
    }

    &#toggle-play.pause {
      .icon-play { display: none; }
      .icon-pause { display: block; }
    }

    &#toggle-labels {
    }

    &#toggle-pluto {
    }

  }
}
