/* The positioning of the shadow on the planet. 0%/100% are the furthest away, 25% left, 50% closest, 75% right */
@mixin darkStates( $diameter ) {

  /* 0% begins behind the sun */
  0% {
    transform: translate( 0, ( $diameter ) ) scale( 0.1, 0.1 );
  }
  10% {
    transform: translate( ( -$diameter ), ( -$diameter / 30 ) ) scale( 0.2, 1 );
  }
  25% {
    transform: translate( 0, ( -$diameter / 30 ) ) scale( 0.3, 3 );
  }
  30% {
    transform: translate( 0, ( -$diameter / 30 ) ) scale( 0.5, 1.5 );
  }
  35% {
    transform: translate( ( -$diameter / 6 ), ( $diameter / 10 ) ) scale( 0.75, 1.25 );
  }
  45% {
    transform: translate( ( -$diameter / 15 ), ( $diameter / 10 ) ) scale( 0.95, 0.95 );
  }
  50% {
    transform: translate( 0, ( $diameter / 10 ) ) scale( 0.97, 0.97 );
  }
  55% {
    transform: translate( ( $diameter / 15 ), ( $diameter / 10 ) ) scale( 0.95, 0.95 );
  }
  65% {
    transform: translate( ( $diameter / 6 ), ( $diameter / 10 ) ) scale( 0.75, 1.25 );
  }
  70% {
    transform: translate( 0, ( $diameter / 30 ) ) scale( 0.5, 1.5 );
  }
  75% {
    transform: translate( 0, ( $diameter / 30 ) ) scale( 0.3, 3 );
  }
  90% {
    transform: translate( ( $diameter ), ( -$diameter / 30 ) ) scale( 0.2, 1 );
  }
  100% {
    transform: translate( 0, ( $diameter ) ) scale( 0.1, 0.1 );
  }
}

@keyframes dark-mercury { @include darkStates( planet( $solarSystem, mercury, diameter ) ); }
@keyframes dark-venus   { @include darkStates( planet( $solarSystem, venus, diameter ) ); }
@keyframes dark-earth   { @include darkStates( planet( $solarSystem, earth, diameter ) ); }
@keyframes dark-mars    { @include darkStates( planet( $solarSystem, mars, diameter ) ); }
@keyframes dark-jupiter { @include darkStates( planet( $solarSystem, jupiter, diameter ) ); }
@keyframes dark-saturn  { @include darkStates( planet( $solarSystem, saturn, diameter ) ); }
@keyframes dark-uranus  { @include darkStates( planet( $solarSystem, uranus, diameter ) ); }
@keyframes dark-neptune { @include darkStates( planet( $solarSystem, neptune, diameter ) ); }
@keyframes dark-pluto   { @include darkStates( planet( $solarSystem, pluto, diameter ) ); }
