/* The positioning of the shadow on the planet. 0%/100% are the furthest away, 25% left, 50% closest, 75% right */

@mixin darkStates( $diameter ) {

  0% {
    transform: scale(.01);
  }

  10% {
    transform: scale(.01);
  }

  25% {
    transform: scale(1);
  }

  35% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1.8);
  }

  65% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(1);
  }

  90% {
    transform: scale(.01);
  }

  100% {
    transform: scale(.01);
  }

}

@keyframes dark-mercury { @include darkStates( planet( $solarSystem, mercury, diameter ) ); }
@keyframes dark-venus   { @include darkStates( planet( $solarSystem, venus, diameter ) ); }
@keyframes dark-earth   { @include darkStates( planet( $solarSystem, earth, diameter ) ); }
@keyframes dark-mars    { @include darkStates( planet( $solarSystem, mars, diameter ) ); }
@keyframes dark-jupiter { @include darkStates( planet( $solarSystem, jupiter, diameter ) ); }
@keyframes dark-saturn  { @include darkStates( planet( $solarSystem, saturn, diameter ) ); }
@keyframes dark-uranus  { @include darkStates( planet( $solarSystem, uranus, diameter ) ); }
@keyframes dark-neptune { @include darkStates( planet( $solarSystem, neptune, diameter ) ); }
@keyframes dark-pluto   { @include darkStates( planet( $solarSystem, pluto, diameter ) ); }
