/* Set up sizing and structure of orrery, no look and feel */

/* The .universe is a max width/height container, for adding background effects on top of the starfield on the body */
.universe {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform:translate3d(0,0,0);
  pointer-events: none;
  overflow-x: hidden;

  &_container {
    position: relative;
    height: 60vh;
  }

  &.labels-on {
    .symbol {
      display: block;
    }
  }

  &_cutout {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    svg {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;

      polygon,
      path {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
      }

      #galaxy-edge   {
        fill: white;
        transform: translateY(100px);
        filter: drop-shadow( 6px 0 2px hsla(0, 0%, 0%, 0.2));
      }

      #galaxy-edge-2 {
        fill: rgba(101, 234, 255, 0.15);
        transform: translateY(50px);
      }

      #galaxy-edge-3 {
        fill: rgba(208, 159, 255, 0.2);
        transform: translateY(0px);
      }
    }
  }

  .pos,
  .planet,
  .light-side,
  .dark-side,
  .orbit {
    animation-play-state: paused;
  }

  &.play {
    .pos,
    .planet,
    .light-side,
    .dark-side,
    .orbit {
      animation-play-state: running;
    }
  }
}

.star-field {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.star {
  width: 2px;
  height: 2px;
  background: white;
  opacity: 1;
  position: absolute;
  border-radius: 50%;
}

/* The .galaxy is a relative positioned parent, meant to stretch inside its parent. */
.galaxy {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  transform: rotateX($viewingAngle);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
