@keyframes lighting {

  0% {
    transform: rotate(90deg);
  }

  25% {
    transform: rotate(5deg);
  }

  40% {
    transform: rotate(-35deg);
  }

  50% {
    transform: rotate(-90deg);
  }

  60% {
    transform: rotate(-145deg);
  }

  75% {
    transform: rotate(-185deg);
  }

  100% {
    transform: rotate(-270deg);
  }

}
