@keyframes lighting {

  0% {
    transform: rotate(90deg);
  }

  25% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(-40deg);
  }

  50% {
    transform: rotate(-90deg);
  }

  60% {
    transform: rotate(-120deg);
  }

  75% {
    transform: rotate(-170deg);
  }

  100% {
    transform: rotate(-270deg);
  }

}
