/* Planet construction */

/* Loop through all the planets and initialize them */
@each $planet, $props in $solarSystem {
  @if( $planet != 'sun' ) {
    $i:             planet( $solarSystem, #{$planet}, id );

    $diameter:      planet( $solarSystem, #{$planet}, diameter );
    $symbolOffset:  planet( $solarSystem, #{$planet}, symbolOffset );
    $orbitDiameter: planet( $solarSystem, #{$planet}, orbitDiameter );
    $orbitSpeed:    planet( $solarSystem, #{$planet}, speed );

    $startOffset:   planet( $solarSystem, #{$planet}, start );
    $offset:        $startOffset / 360deg;
    $delay:         -($orbitSpeed - ($orbitSpeed * $offset));

    @if $syncPlanets == true {
      $orbitSpeed: 20s; /* Sync orbital periods, for dev purposes */
    }

    .#{$planet} {

      &.orbit,
      .pos {
        animation-duration: $orbitSpeed;
      }

      .pos {
        animation-name: invert-#{$planet};
      }

      &.orbit {
        animation-name: orbit-#{$planet};
        top: 50%;
        width: $orbitDiameter;
        height: $orbitDiameter;
        margin-top: -($orbitDiameter / 2);
        margin-left: -($orbitDiameter / 2);
      }

      .planet {
        font-size: $diameter;

        .light-side {
          animation-name: light-#{$planet};
          animation-duration: $orbitSpeed;
          animation-delay: $delay;
        }
      }

      .symbol {
        top: -$symbolOffset;
      }
    }
  }
}

.planet {
  position: relative;
  left: 50%;
  width: 1em;
  height: 1em;
  margin-top: 0;
  margin-left: -0.5em;
  border-radius: 50%;
  background-color: $planetShadow;
  border: $planetBorder;
  overflow: hidden;

  &.sun {
    background-color: $planetColor;
    font-size: planet($solarSystem, sun, diameter);
    transform: rotateX(-$viewingAngle);
    top: 50%;
  }

  .light-side {
    background: $planetColor;
    border: $lightSideBorder;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.symbol {
  font-family: 'Open Sans', sans-serif;
  display: none;
  color: $symbolColor;
  position: absolute;
  text-align: center;
  font-size: 1rem;
  top: -2.5rem;
  left: 50%;
  background: $symbolColorBG;
  border: 1px solid $symbolColorBorder;
  padding: 0.2em 0;
  line-height: 1;
  width: 1.5em;
  margin-left: -0.75em;
  text-align: center;
  border-radius: 50%;

  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -4px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid $symbolColorBorder;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -2px;
    width: 0;
    height: 0;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 4px solid $symbolColorBG;
  }
}

/* Call out a planet by adding .callout to its .orbit */
.orbit.callout {
  .planet {
    background: #47b3ff;
  }
  .light-side {
    background: #56e0ff;
    border: none;
  }
}
