/* Color System */
$base-color-dark:  #244B54;

$base-color-light: #89A7AB;

$color-link:       #45ABD5;
$color-link-hover: #35BDF5;

$color-footer:     #465B76;

/* Color System Applied */
body {
  background: $base-color-dark;
}

a {
  color: $color-link;

  &:hover {
    color: $color-link-hover;
  }
}

.page {
	background-color: #fff;
}

footer {
  color: $base-color-light;
}

h1, h2, h3, h4, h5, h6 {
  color: $base-color-light;
}
