/* Color System */
$base-color-dark: #244B54;


/* Color System Applied */
body {
  background: $base-color-dark;
}

a {
  color: #ff5724;

  &:hover {
    color: #1B658F;
  }
}

.page {
	background-color: #fff;
}
