/* Color System */
$base-color-dark:  #244B54;

$base-color-light: #7C9699;

$color-link:       #45ABD5;
$color-link-hover: #35BDF5;

$color-footer:     #465B76;

$color-transparent-dark: rgba($base-color-dark, 0.5);
$color-transparent-light: rgba(255, 255, 255, 0.5);

/* Color System Applied */
body {
  background: $base-color-dark;
}

a {
  color: $color-link;
  font-weight: bold;

  &:hover {
    color: $color-link-hover;
  }
}

.page {
	background-color: #fff;
}

footer {
  color: $base-color-light;
}

h1, h2, h3, h4, h5, h6 {
  color: $base-color-light;
}

.page-title {
  color: $color-transparent-dark;
  text-shadow: 0 0 0 $color-transparent-light;
}
