/* For dev purposes, create a repeating row grid */
$row-grid-show: true;
$row-grid-height: 8px;
$row-grid-color-dark: rgba(0,0,0,0.05);
$row-grid-color-light: rgba(255,255,255,0.1);

$nav-height: 56px;

$container-max-width: 90vw;

$lead: $base-font-size * $base-line-height;

$lead-quarter: $lead / 4;
$lead-half: $lead / 2;
$lead-1: $lead;
$lead-2: $lead * 2;
$lead-3: $lead * 3;
$lead-4: $lead * 4;
$lead-5: $lead * 5;
$lead-6: $lead * 6;
$lead-7: $lead * 7;
$lead-8: $lead * 8;
$lead-9: $lead * 9;
$lead-10: $lead * 10;

$transition-off: all 0.3s ease-out;
$transition-on: all 0.2s ease-in;
