/* If using self-hosted webfonts */
@import "fontface";

/* Sizing */
$base-font-size: 24px;
$base-line-height: 1.414;
$base: ($base-font-size * $base-line-height) / 3;

/* Fonts */
$font-stack-body:     'Cormorant', Georgia, Times, serif;
$font-stack-header:  'CormorantSC', Georgia, Times, serif;
$font-stack-special: 'CormorantUnicase', Georgia, Times, serif;

/* Type Scale */
$font-size-h1: $base-font-size * $base-line-height * $base-line-height * $base-line-height;
$font-size-h2: $base-font-size * $base-line-height * $base-line-height;
$font-size-h3: $base-font-size * $base-line-height;
$font-size-h4: $base-font-size;
$font-size-h5: $base-font-size * ($base-line-height * 0.75);
$font-size-h6: $base-font-size * ($base-line-height * 0.6);
$font-size-body: $base-font-size;
$font-size-small: $font-size-h5;

.h1      {
  line-height: $base * 6;
  font-size: $font-size-h1;
  margin: 0 0 ( $base * 6 );
	font-variant-ligatures: discretionary-ligatures;
  font-weight: 100;
}
.h2      { line-height: $base * 5; font-size: $font-size-h2; }
.h3      { line-height: $base * 4; font-size: $font-size-h3; margin: ($base * 6) 0 ($base * 3); }
.h4      { line-height: $base * 3; font-size: $font-size-h4; }
.h5      { line-height: $base * 3; font-size: $font-size-h5; }
.h6      { line-height: $base * 3; font-size: $font-size-h6; }
.body    { line-height: $base * 3; font-size: $font-size-body; }
.small   { line-height: $base-line-height; font-size: $font-size-small; }

h1 { @extend .h1; }
h2 { @extend .h2; }
h3 { @extend .h3; }
h4 { @extend .h4; }
h5 { @extend .h5; }
h6 { @extend .h6; }
body { @extend .body; }
small, caption { @extend .small; }

body {
  font-family: $font-stack-body;
	font-variant-ligatures: common-ligatures;
	color: $base-color-dark;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-stack-header;
  letter-spacing: 0.08em;
	text-transform: lowercase;
}

h5, h6 {
  font-weight: 400;
}

.page-title {
  @extend .h1;
  font-family: $font-stack-special;
  padding: ( $base * 4 ) 0;
}

.small-caps-header {
  font-family: $font-stack-header;
}
