/* Typographic utilities */

@include media-breakpoint-up(sm) {
  .text-center-on-sm { text-align: center !important; }
  .text-left-on-sm { text-align: left !important; }
  .text-right-on-sm { text-align: right !important; }
}

@include media-breakpoint-up(md) {
  .text-center-on-md { text-align: center !important; }
  .text-left-on-md { text-align: left !important; }
  .text-right-on-md { text-align: right !important; }
}
@include media-breakpoint-up(lg) {
  .text-center-on-lg { text-align: center !important; }
  .text-left-on-lg { text-align: left !important; }
  .text-right-on-lg { text-align: right !important; }

}
@include media-breakpoint-up(xl) {
  .text-center-on-xl { text-align: center !important; }
  .text-left-on-xl { text-align: left !important; }
  .text-right-on-xl { text-align: right !important; }

}
